:root{
    /* --variable name: formating/variable, to call it use "var(--variable name)" */
    --light-color: #C1C6DC;
    --dark-color: #404660;
    --mid-color: #676D85;
    --contrast-color: #EFBE9E;
    }

/* set background color and font family */
body {
    background-color: var(--mid-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--light-color);
}

/* set header formatting */
.header {
    padding: 20px;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.header div {
    padding-top: 10px;
    margin-right: 10px;
    float: right;
    font-size: 20px;
}

h1 {
    display: inline-block;
    font-size: 48px;
}
ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--light-color);
    padding: 10px;
    text-decoration-color: var(--light-color);
    text-underline-offset: 10px;
}

/* sets formatting for header image and for floating text on header image */
.header-img {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/galaxy-small.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

/* sets background color on floating text on header image */
.background-color{
    background-color: var(--dark-color);
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

/*creates rows and columns on the page to give it, its format */
.row{
    display: flex;
    padding: 15px;
}
.column-header{
    display: flex;
    flex: 25%;
    padding:30px;
    border-right: 5px solid var(--dark-color);
    justify-content: right;
} 
.column-body{
    display: flex;
    flex: 75%;
    padding:30px;
}

/* creates hover effect */
.work-column:hover{
    box-shadow: inset 0px 0px 50px var(--light-color), 0 0 10px var(--light-color); 
}

h2{
    color: var(--light-color);
    margin-bottom: 20px;
    font-size: 30px;
}

/* creates grid container for the image grid for body of work */
.grid-container {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 100% 100%;
}

/* sets formatting to grid */
.grid-background-color{
    background-color: var(--contrast-color);
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    color:var(--dark-color);
}

/* creates first grid item and makes it span the whole grid */
.item1{
    grid-column: 1 / span 2;
}

/* sets formatting for large work/body image and for floating text on large work/body image */
.item1-img{ 
    background-image: url("../images/boring-image-placeholder.png");
    background-position: center;  
    height: 300px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    border: 10px solid var(--contrast-color)
}

/* sets formatting for small work/body image and for floating text on small work/body image */
.grid-item-img{ 
    background-image: url("../images/boring-image-placeholder-sm.png");
    background-position: center;  
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border: 10px solid var(--contrast-color)
}


