:root{
    /* --variable name: formating/variable, to call it use "var(--variable name)" */
    --light-color: #C1C6DC;
    --dark-color: #404660;
    --mid-color: #676D85;
    }
body {
    background-color: var(--mid-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--light-color);
}

.header {
    padding: 20px;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.header div {
    padding-top: 10px;
    margin-right: 10px;
    float: right;
    font-size: 20px;
}

h1 {
    display: inline-block;
    font-size: 48px;
}
ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--light-color);
    padding: 10px;
    text-decoration-color: var(--light-color);
    text-underline-offset: 10px;
}

.header-img {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/galaxy-small.jpg");
    background-size: cover;
    background-position: center;
}

.row{
    display: flex;
    padding: 15px;
}
.column-header{
    display: flex;
    flex: 25%;
    padding:30px;
    border-right: 5px solid var(--dark-color);
    justify-content: right;
} 
.column-body{
    display: flex;
    flex: 75%;
    padding:30px;
}
h2{
    color: var(--light-color);
    margin-bottom: 20px;
    font-size: 30px;
}
